################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SectorSelection/.vs/SectorSelection/v15/Server/sqlite3
/SectorSelection/.vs
/SectorSelection/src/SectorSelection.Core/obj
/SectorSelection/src/SectorSelection.Dtos/obj
/SectorSelection/src/ServiceLayer/SectorSelection.Entities/obj
/SectorSelection/src/SectorSelection.Core/bin/Debug
/SectorSelection/src/SectorSelection.Dtos/bin/Debug/netcoreapp2.0
/SectorSelection/src/SectorSelection.Mapper/bin/Debug/netcoreapp2.0
/SectorSelection/src/SectorSelection.Mapper/obj
/SectorSelection/src/ServiceLayer/SectorSelection.Entities/bin/Debug
/SectorSelection/src/ServiceLayer/SectorSelection.Repositories/bin/Debug/netcoreapp2.0
/SectorSelection/src/ServiceLayer/SectorSelection.Repositories/obj/Debug/netcoreapp2.0
/SectorSelection/src/ServiceLayer/SectorSelection.Services/bin/Debug/netcoreapp2.0
/SectorSelection/src/ServiceLayer/SectorSelection.WebApi/bin/Debug/netcoreapp2.0
/SectorSelection/src/ServiceLayer/SectorSelection.Common/bin
/SectorSelection/src/ServiceLayer/SectorSelection.Common/obj
/SectorSelection/src/SectorSelection.Common/bin/Debug/netcoreapp2.0
/SectorSelection/src/SectorSelection.Common/obj
/SectorSelection/src/ServiceLayer/SectorSelection.Repositories/obj
/SectorSelection/src/ServiceLayer/SectorSelection.Services/obj
/SectorSelection/src/ServiceLayer/SectorSelection.WebApi/obj
/SectorSelection/tool/SectorSelection.TestDataGenerator/obj
/SectorSelection/tool/SectorSelection.TestDataGenerator/bin/Debug/netcoreapp2.0
/SectorSelection/test/FrontEndLayer/SectorSelection.Web.Tests/obj/Debug/netcoreapp2.1
/SectorSelection/test/ServiceLayer/SectorSelection.Repositories.Tests/obj/Debug/netcoreapp2.1
/SectorSelection/test/ServiceLayer/SectorSelection.Services.Tests/obj/Debug/netcoreapp2.1
/SectorSelection/test/ServiceLayer/SectorSelection.WebApi.Tests/obj/Debug/netcoreapp2.1
/SectorSelection/test/FrontEndLayer/SectorSelection.Web.Tests/bin/Debug/netcoreapp2.0
/SectorSelection/test/ServiceLayer/SectorSelection.Repositories.Tests/bin/Debug/netcoreapp2.0
/SectorSelection/test/ServiceLayer/SectorSelection.Services.Tests/bin/Debug/netcoreapp2.0
/SectorSelection/test/ServiceLayer/SectorSelection.WebApi.Tests/bin/Debug/netcoreapp2.0
/SectorSelection/test/FrontEndLayer/SectorSelection.Web.Tests/obj
/SectorSelection/test/ServiceLayer/SectorSelection.Repositories.Tests/obj
/SectorSelection/test/ServiceLayer/SectorSelection.Services.Tests/obj
/SectorSelection/test/ServiceLayer/SectorSelection.WebApi.Tests/obj
