################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SectorSelection/.vs/SectorSelection/v15/Server/sqlite3
